.select {
	display: block;
	float: left;
	text-align:left;
	width: 95%;
}

.checkbox-grid li {
    display: inline;
    float: left;
    width: 50%;
    margin: -10px 0;
    padding: 0 0 0 0;
}

.main-layout {
	margin: 1%;
}